.editar-produto-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editar-produto-container h1 {
  margin-bottom: 20px;
}

.editar-produto-container form {
  margin-bottom: 20px;
}

.editar-produto-container label {
  display: block;
  margin-bottom: 5px;
}

.editar-produto-container input[type="text"],
.editar-produto-container textarea,
.editar-produto-container input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editar-produto-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-voltar {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-voltar:hover,
button:hover {
  opacity: 0.8;
}

.center {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container button {
  flex: 1;
  margin-right: 10px;
}

.buttons-container button:last-child {
  margin-right: 0;
}
